<%- include('../header/Header'),{title : pageTitle} %>
<body class="bg-gray-100">
    <div class="flex flex-col md:flex-row">
        <!-- Sidebar -->
        <%- include('../dashboard/Dashboard', { route: currentRoute }) %>

        <!-- Main Content -->
        <main class="flex-1">
            <!-- Navbar -->
            <header class="bg-blue-800 text-white p-4 flex justify-between items-center sticky top-0">
                <%- include('../navbar/Navbar') %>
            </header>

            <!-- Mobile Dropdown Menu -->
            <%- include('../dropdown_menu/DropdownMenu') %>

            <!-- Add New Channel Form -->
            <div class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-md my-24 text-yellow-900" style="background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);">
                <h2 class="text-2xl font-semibold mb-6">Add New Channel</h2>
                <form id="addChannelForm" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">Channel Name</label>
                        <input type="text" placeholder="Channel Name" class="input input-bordered w-full" name="cName" required/>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">Description</label>
                        <textarea placeholder="Sample Channel Description" class="textarea textarea-bordered w-full" rows="5" cols="5" name="desc" required></textarea>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">Live URL</label>
                        <input type="text" placeholder="Live URL" class="input input-bordered w-full" name="url" required/>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">Thumbnail</label>
                        <input type="file" class="file-input file-input-bordered file-input-secondary w-full max-w-xs" accept="image/*" name="image" required/>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">Facebook</label>
                        <input type="text" placeholder="facebook" class="input input-bordered w-full" name="facebook" required/>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">Twitter</label>
                        <input type="text" placeholder="twitter" class="input input-bordered w-full" name="twitter" required/>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">YouTube</label>
                        <input type="text" placeholder="youtube" class="input input-bordered w-full" name="youtube" required/>
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">Website</label>
                        <input type="text" placeholder="website" class="input input-bordered w-full" name="website" required/> 
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1">Select Category</label>
                       
                        <select class="select select-bordered w-full" name="dropdown_menu" required>
                            <option disabled selected>Select a category</option>
                            <% if (categories.length > 0) { %>
                                <% categories.forEach(ct => { %>
                            <option value="<%= ct.category %>"><%= ct.category %></option>
                            <% }); %>
                        <% } else { %>
                            <p class="p-6 m-6 text-lg text-amber-500">No category available.</p>
                        <% } %>
                        </select>
                      
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </main> 
    </div>

    <%- include('../footer/Footer') %>
 
   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../../js/Hamburger.js" type="text/javascript"> </script>
    <script src="../../js/NewChannel.js"></script>
</body>
</html>
